{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>this is the create dataset page</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="/action_page.php">
                <p>Please select your gender:</p>
                  <input type="radio" name="datatset" value="upload_data"> upload data<br>
                  <input type="radio" name="video" value="upload_video"> upload video<br>
            </form>
            <!-- {{ wtf.quick_form(form) }} -->
        </div>
        
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h4>Please upload your files with firstname_lastname</h4>
            {{ dropzone.load() }}
            {{ dropzone.style('border: 2px dashed #0087F7;
        margin: 10px;
        <!-- min-height: 100px; 
        max-width: 800px; -->
        ') }}
        </div>
    </div>
</div>
{{ dropzone.create(action_view='createData') }}
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            {% for file_url in file_urls %}
            <img style="height: 150px" src="{{ file_url }}">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}