{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>this is the create dataset page</h2>


    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <!-- <button onclick="window.location.href = '{{ url_for('dashboard') }}'" type="submit" class="btn btn-primary">Create</button> -->

<h4>Please upload your files with firstname_lastname</h4>
    {{ dropzone.load() }}
    {{ dropzone.style('border: 2px dashed #0087F7;
        margin: 10px;
        min-height: 200px; 
        max-width: 400px;
        ') }}

    {{ dropzone.create(action_view='createData') }}

    <div class="row">
        <div class="col-md-12">
    {% for file_url in file_urls %}
        <img style="height: 150px" src="{{ file_url }}">
    {% endfor %}
        </div>
    </div>


    <button onclick="window.location.href = '{{ url_for('trainData') }}'" type="submit" class="btn btn-primary">Train</button>



{% endblock %}