{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            
            <h3>Please press this button for recognizing faces</h3>
        </div>

        <div class="col">
            <button onclick="window.location.href = '{{ url_for('startRecognize') }}'" type="submit"
                class="btn btn-primary">start recognizing data
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p><h4>Recognised students</h4></p>
        <div class="col-sm">
            {%for line in distinct_lines %} 
            <li>{{ line }}</li>  
        {%endfor%} 
        </div>
    </div>
</div>

{% endblock %}